/* GENERALI */

* {
    padding: 0px;
    margin: 0px;
    color: #2D6A4F;
    box-sizing: content-box;
    font-family: "Google Sans Code", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html,
body {
    height: 100%;
    background-color: #D8F3DC;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    background-color: #52B788;
}

/* MAIN */

main {
    width: 100%;
    height: 774px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#boxCustomizeUser {
    width: 340px;
    height: 420px;
    border: 2px #1B4332 solid;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#slider,
#gender {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 10px;
}

#boxCheckbox {
    width: 100%;
    height: 300px;
    overflow: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

#boxCheckbox::-webkit-scrollbar {
    /*Cosa importante da segnare, semplicimente dice che la barra di boxCard deve avere display none*/
    display: none;
}

.boxCheckbox {
    width: 150px;
    height: 50px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #1B4332;
}

.imgBandiera {
    width: 80px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}

#textRicercaFlag {
    text-align: center;
    width: 300px;
    margin: 10px;
    background-color: #7dd181;
    border: 1px solid #1B4332;
    border-radius: 20px;
}

#slider>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider #rangeUser,
#numberUser {
    margin: 5px;
}

#slider #rangeUser {
    width: 200px;
}

#slider #rangeUser::-webkit-slider-thumb {
    background-color: #1B4332;
}

#slider #rangeUser::-webkit-slider-runnable-track {
    background-color: #7dd181;
}

#slider #numberUser {
    width: 40px;
    height: 20px;
    background-color: #7dd181;
    color: #2D6A4F;
    text-align: center;
}

#slider #numberUser::-webkit-outer-spin-button,
#numberUser::-webkit-inner-spin-button {
    display: none;
}

#gender>#lstGender {
    width: 240px;
    background-color: #7dd181;
    border-radius: 10px;
    text-align: center;
}

#generateUser {
    width: 240px;
    margin: 10px;
    background-color: #7dd181;
    border-radius: 10px;
}

#boxCard {
    width: 900px;
    height: 420px;
    overflow: auto;
    position: relative;
    margin: 5px;
    border: 2px, #1B4332, solid;
    border-radius: 20px;
}

#boxCard::-webkit-scrollbar {
    /*Cosa importante da segnare, semplicimente dice che la barra di boxCard deve avere display none*/
    display: none;
}

#boxCardScrol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.card {
    width: 400px;
    height: 180px;
    perspective: 1000px;
    margin: 10px 5px;
    border: 0px;
    background: transparent;
    user-select: none;
}

.cardInner {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 1s;
}

.cardInner.flipped {
    transform: rotateY(180deg);
}

.card:hover .cardInner:not(.flipped) {
    cursor: pointer;
    transform: scale(1.05);
}

.cardFront,
.cardBack {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    backface-visibility: hidden;
    background-color: #7dd181;
    border-radius: 20px;
    border: 2px, solid, #2D6A4F;
}

.cardFront {
    transform: rotateY(0deg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    transition: transform 0.45s;
}

.imgFront {
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid #2D6A4F;
}

.cardBack {
    transform: rotateY(180deg);
}

.textPerson {
    width: 100%;
    height: 120px;
    text-align: center;
    line-height: 170px;
}

.imgBack {
    position: fixed;
    top: 0px;


    width: 40px;
    height: 40px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid #2D6A4F;
}

.navigatePerson {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navPersonButton {
    text-align: center;
    line-height: 20px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.8s;

    width: 40px;
    height: 40px;
    margin: 5px;
}

.navPersonButton:hover {
    transform: scale(1.3);
}

#barraProgressioneCard {
    position: sticky;
    width: 0%;
    height: 4px;
    bottom: 0;
    background-color: #1B4332;
    width: 100%;
}



/* FOOTER */

footer {
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 5px;

    background-color: #52B788;
}