/* #region GLOBAL */

* {
    padding: 0px;
    margin: 0px;
    color: #2D6A4F;
    box-sizing: content-box;
    font-family: "Google Sans Code", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html,
body {
    height: 100%;
    background-color: #D8F3DC;
}

/* #endregion GLOBAL*/

/* #region HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    background-color: #52B788;
}

/* #endregion HEADER*/

/* #region MAIN */

main {
    height: 774px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* #region NAVBAR CARD */

#navBarCard {
    width: 1258px;
    height: 50px;
    border-radius: 20px;
    border: 2px #1B4332 solid;
}

/* #endregion NAVBAR CARD*/

/* #region CONTAINER CARD */

#containerCard {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* #region BoxCustomizeUser*/

#boxCustomizeUser {
    width: 340px;
    height: 420px;
    border: 2px #1B4332 solid;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#slider,
#lstGender {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 10px;
}

/* #region Slider */

#slider>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider #inputRangeUser,
#inputNumberUser {
    margin: 5px;
}

#slider #inputRangeUser {
    width: 200px;
}

#slider #inputRangeUser::-webkit-slider-thumb {
    background-color: #1B4332;
}

#slider #inputRangeUser::-webkit-slider-runnable-track {
    background-color: #7dd181;
}

#slider #inputNumberUser {
    width: 40px;
    height: 20px;
    background-color: #7dd181;
    color: #2D6A4F;
    text-align: center;
}

#slider #inputNumberUser::-webkit-outer-spin-button,
#inputNumberUser::-webkit-inner-spin-button {
    display: none;
}

/* #endregion Slider */

/* #region List */

#lstGender>#lstlstGender {
    width: 240px;
    background-color: #7dd181;
    border-radius: 10px;
    text-align: center;
}

/* #endregion List */

/* #region CheckBox */

#boxCheckboxGrid {
    width: 100%;
    height: 300px;
    overflow: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

#boxCheckboxGrid::-webkit-scrollbar {
    /*Cosa importante da segnare, semplicimente dice che la barra di boxCard deve avere display none*/
    display: none;
}

.boxCheckboxGrid {
    width: 150px;
    height: 50px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #1B4332;
}

.imgBandiera {
    width: 80px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}

/* #endregion CheckBox */


#bntGenerateUser {
    width: 240px;
    margin: 10px;
    background-color: #7dd181;
    border-radius: 10px;
}

/* #endregion BoxCustomizeUser */

/* #region BoxCard */

#boxCard {
    width: 900px;
    height: 420px;
    overflow: auto;
    position: relative;
    margin: 5px;
    border: 2px, #1B4332, solid;
    border-radius: 20px;
}

#boxCard::-webkit-scrollbar {
    /*Cosa importante da segnare, semplicimente dice che la barra di boxCard deve avere display none*/
    display: none;
}

#boxCardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#scrollBarBoxCardGrid {
    position: sticky;
    width: 0%;
    height: 4px;
    bottom: 0;
    background-color: #1B4332;
    width: 100%;
}

/* #region Card */

.card {
    width: 370px;
    height: 180px;
    perspective: 1000px;
    margin: 10px 5px;
    border: 0px;
    background: transparent;
    user-select: none;
}

.cardFront,
.cardBack {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    backface-visibility: hidden;
    background-color: #7dd181;
    border-radius: 20px;
    border: 2px, solid, #2D6A4F;
}

/* #region Card Inner*/

.cardInner {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 1s;
}

.cardInner.flipped {
    transform: rotateY(180deg);
}

.card:hover .cardInner:not(.flipped) {
    cursor: pointer;
    transform: scale(1.03);
}

/* #endregion Card Inner*/

/* #region Card Front*/

.cardFront {
    transform: rotateY(0deg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    transition: transform 0.45s;
}

.imgFront {
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid #2D6A4F;
}

.star {
    position: fixed;
    margin-top: 4px;
    margin-right: 4px;
    top: 0px;
    right: 0px;
}

/* #endregion Card Front*/

/* #region Card Back */
.cardBack {
    transform: rotateY(180deg);
}

.infoButton {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s transform;
}

.infoButton:hover {
    transform: scale(1.04);
}

.textPerson {
    width: 100%;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textPersonGeneral {
    margin-top: 25px;
}

.textPersonValue {
    font-weight: bolder;
    font-size: 19px;
}

.imgBack {
    position: fixed;
    top: 0px;


    width: 40px;
    height: 40px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid #2D6A4F;
}

.navigatePerson {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navPersonButton {
    text-align: center;
    line-height: 20px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.8s;

    width: 40px;
    height: 40px;
    margin: 5px;
}

.navPersonButton:hover {
    transform: scale(1.3);
}

/* #endregion Card Back*/

/* #endregion Card */

/* #endregion BoxCard*/

/* #endregion CONTAINER CARD */

/* #endregion MAIN */

/* #region FOOTER */

footer {
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 5px;

    background-color: #52B788;
}

/* #endregion FOOTER*/

/* #region MODAL */

.modalHead {
    display: flex;
    justify-content: center;
}

.modalBody>div {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxInfoLabel {
    font-size: 20px;
    color: #7dd181;
}

.boxInfoImg {
    width: 150px;
    height: 150px;
    margin-bottom: 10px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #2D6A4F;
}

/* #endregion MODAL*/